@import url('https://fonts.googleapis.com/css2?family=Poller+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&display=swap');
.navBar-header
{
    font-size: 53px;
    font-family: "Poller One", serif;
    text-align: right;
    text-decoration: none;
    color:#FFFFFF;
}

.navbar-nav
{
    margin-left: 20px;
    margin-right: 20px;
}

.navbar-nav a:hover
{
    color: #E49311;
}

.navBar-header:hover
{
    color: #FFFFFF;
}

.navBar-pages
{
    font-size: 33px;
    text-decoration: none;
    font-weight: 700;
    font-family: "Epilogue"; 
    margin-left: 20px;
    margin-right: 20px;
    text-align: left;
    color:#FFFFFF;
}

.navBar-pages-active
{
    font-size: 33px;
    text-decoration: none;
    font-weight: 700;
    font-family: "Epilogue"; 
    margin-left: 20px;
    margin-right: 20px;
    text-align: left;
    color:#FFFFFF;
    text-decoration: underline;
}


.poller-one
{
    font-family: "Poller One", serif;
    font-weight: 400;
    font-style: normal;
}

body
{
    background: #FFFFFF;
    font-family: "Epilogue"; 
    margin: 0px;
}

.rproject
{
    background: #FFFFFF;
    font-family: "Epilogue"; 
    color: #5E7782;
    margin: 0px;
}

.rheader-text-left
{
    font-weight: 800;
    margin-left: 30px;
    margin-top: 30px;
    font-size: 55px;
    text-align: left;
}

.rheader-text-right
{
    font-weight: 800;
    margin-right: 30px;
    margin-top: 30px;
    font-size: 55px;
    text-align: right;
}

.rheader-smaller-text-left
{
    font-weight: 700;
    margin-left: 30px;
    font-size: 27px;
    color: #6E7B51;
    text-align: left;
}

.rheader-smaller-text-right
{
    font-weight: 700;
    margin-right: 30px;
    font-size: 27px;
    color: #6E7B51;
    text-align: right;
}


