@import url('https://fonts.googleapis.com/css2?family=Poller+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&display=swap');
.navBar-header
{
    font-size: 53px;
    text-align: right;
    text-decoration: none;
    color:#FFFFFF;
}

.navbar-nav
{
    margin-left: 20px;
    margin-right: 20px;
}

.navbar-nav a:hover
{
    color: #E49311;
}

.navBar-header:hover
{
    color: #FFFFFF;
}

.navBar-pages
{
    font-size: 33px;
    text-decoration: none;
    font-weight: 700;
    font-family: "Epilogue"; 
    margin-left: 20px;
    margin-right: 20px;
    text-align: left;
    color:#FFFFFF;
}

.navBar-pages-active
{
    font-size: 33px;
    text-decoration: none;
    font-weight: 700;
    font-family: "Epilogue"; 
    margin-left: 20px;
    margin-right: 20px;
    text-align: left;
    color:#E49311;
}


.poller-one
{
    font-family: "Poller One", serif;
    font-weight: 400;
    font-style: normal;
}

body
{
    background: #FFFFFF;
    font-family: "Epilogue"; 
    margin: 0px;
}


