@import url('https://fonts.googleapis.com/css2?family=Poller+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&display=swap');
.navBar-header
{
    font-size: 53px;
    margin-left: 20px;
    text-align: right;
    color:#FFFFFF;
}

.navBar-pages
{
    font-size: 34px;
    font-family: "Epilogue"; 
    margin-left: 15px;
    margin-right: 15px;
    text-align: left;
    color:#FFFFFF;
}
.poller-one
{
    font-family: "Poller One", serif;
    font-weight: 400;
    font-style: normal;
}

body
{
    background: #FFFFFF;
    font-family: "Poller One", serif;
    margin: 0px;
}


